$zuks-color: #4d9eff;
$secondary-color: #ec7217;

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #f0f2f4;

	font-family: 'Roboto', sans-serif;
	color: #666;
}

body {
	min-width: 1000px;
	overflow: hidden;
}

@media (max-width: 1000px) {
	body {
		overflow: scroll;
	}
}

header {
	background-color: white;
	height: 60px;
	border-bottom: 1px solid $zuks-color;
	padding: 0 40px;

	.container {
		position: relative;
	}

	img {
		height: 41px;
		width: 150px;
		vertical-align: middle;
		padding-top: 9px;
	}

	.back {
		background: url('https://www.zuks.org/img/icons/back.png') no-repeat left;
		background-size: 16px;
		padding-left: 28px;
		background-position: 5px;
	}

	nav {
		float: right;

		a {
			display: block;
			text-decoration: none;
			padding: 20px 15px;
			line-height: 20px;
			color: #555;
			float: left;
			font-size: 14px;
		}

		.active {
			color: #fff;
			background-color: $zuks-color;
		}
	}

	#feedback-button {
		float: left;
		background-color: $zuks-color;
		font-size: 0.8em;
		color: white;
		position: absolute;
  		left: calc(50% - 162px / 2);
  		width: 162px;
  		margin-top: 9px;
  		transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  		opacity: 0;
  		core-icon {
  			margin-right: 8px;
  		}
	}
}


#content {
	height: 100%;
	color: rgba(0, 0, 0, 0.87);


	.desktop-container, .mobile-container {
		float: left;
		position: relative;
	}

	.desktop-container {
		margin: 9px 27px 0 27px;
		/* 100 % - margin top - header */
		height: calc(100% - 9px - 61px);
		/* 100 % - margin left - margin right - mobile view - margin right */
		width: calc(100% - 27px - 27px - 300px - 27px);
	}

	.desktop-container img {
		width: 100%;
		height: 100%
	}

	.mobile-container {
		margin-top: 6%;
		height: 588px;
		width: 300px;

		background-image: url('/demo/smartphone.png');
		background-size: cover;
	}

	zuks-app {
		position: absolute;
		left: 4%;
		right: 4%;
		top: 6%;
		bottom: 13%;
	}

	zuks-client-app {
		position: absolute;
		left: 17px;
		right: 17px;
		top: 50px;
		bottom: 66px;
	}

	$welcome-brakepoint: 648px;

	#welcome-overlay, #welcome-backdrop {
		-webkit-transition: opacity 0.25s;
		 		transition: opacity 0.25s;
	}

	#welcome-backdrop {
		z-index: 1100;
		position: fixed;
		background-color: rgba(0,0,0,0.75);
		top: 61px;
		right: 0;
		bottom: 0;
		left: 0;
		@media (max-width: $welcome-brakepoint) {
			display: none;
		}
	}

	#welcome-overlay {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 20%;
		background-color: white;
		max-width: 600px;
		z-index: 1200;
		padding: 24px;
		@media (max-width: $welcome-brakepoint) {
			top: 61px;
		}

		button {
			border: none;
			background-color: white;
			float: right;
			margin: 0.7em 0.86em;
			text-transform: uppercase;
			outline: none;
			cursor: pointer;
			font-size: 1em;
			&.primary {
				color: $zuks-color;
			}
		}

		.paper-shadow-top-z-3, .paper-shadow-bottom-z-3 {
			pointer-events: none;
		}

		p.info {
			color: $secondary-color;
		}

		.browser {
			display: inline-block;
			margin-right: 40px;
			img {
				height: 70px;
			}
			div {
				text-align: center;
				margin-top: 4px;
				font-weight: bold;
			}
		}
	}
}

html /deep/ paper-button[affirmative] {
	color: $zuks-color;
}

// Hack to restrict dialog to the desktop screen area
core-overlay-layer {
  top: 0;
  left: 79px;
  overflow: hidden;
  right: 0;
  bottom: 0;
  pointer-events: none;
  * {
  	pointer-events: auto;
  }
}

html /deep/ #feedback-dialog {
	width: 600px;

	a, a:hover, a:visited {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.87);
		opacity: 0.9;

		&:hover {
			opacity: 1;
		}
		&.fb {color: #3B5998;}
		&.google {color: #DD4B39;}
		&.twitter {color: #55ACEE;}
		&.mail {color: $zuks-color;}
	}
}
