*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
downloads
eggs
parts
src/*.egg-info
*.sqlite3
/client/dist/
node_modules
/client/settings.json
/websocket-server/settings.py
/server/server/settings.py
/client/.sass-cache
/client/demo/*.css*
