<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="zuks-rest.html">
<link rel="import" href="zuks-ws.html">

<polymer-element name="zuks-service" attributes="volunteers volunteerGroups">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>

    <zuks-rest id="rest"></zuks-rest>
    <zuks-ws id="ws"></zuks-ws>

  </template>
  <script>
  Polymer({
    volunteers: [],
    volunteerGroups: [],
    ready: function() {
      this.$.rest.errorHandler = this.handleError;

      var self = this;
      this.$.ws.event_handler = {
        volunteer_create: function(oldVolunteer, volunteer) {
          self.volunteers.push(volunteer);
          $(self.volunteerGroups).each(function() {
            if (this.id == volunteer.group) {
              this.members.push(volunteer);
              return;
            }
          });
        },
        volunteerGroup_create: function(oldGroup, group) {
          self.handleNewGroup(self, group);
        },
        volunteerGroup_update: function(oldGroup, group) {
          $(self.volunteerGroups).each(function() {
            if (this.id == group.id) {
              $.extend(this, group)
              return;
            }
          });
        }
      };
      this.$.ws.initWebSocket();

      this.init();
    },
    init: function() {
      var self = this;
      this.$.rest.get('volunteerGroups', function(response) {
        self.volunteerGroups = [];
        self.volunteers = [];
        $(response).each(function() {
          self.handleNewGroup(self, this);
        })
      });
    },
    handleNewGroup: function(self, group) {
      self.$.rest.get('volunteerGroups/' + group.id + "/members", function(resp) {
        group.members = resp;
        self.volunteerGroups = self.volunteerGroups.concat(group);
        self.volunteers = self.volunteers.concat(resp);
      });
    },
    handleError: function(response, status, error) {
      this.fire('error', {status: status, msg: error});
    },
    addVolunteer: function(volunteer) {
      this.$.rest.post('volunteers', volunteer);
    },
    addGroup: function(group) {
      this.$.rest.post('volunteerGroups', group);
    },
    updateGroup: function(group) {
      this.$.rest.put('volunteerGroups', group);
    }
  });
  </script>
</polymer-element>
