<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="zuks-rest">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer({
    root_url: /*SETTINGS:server-url*/"http://" + location.hostname + ":8000/"/*END_SETTINGS*/,
    errorHandler: null,
    get: function(url, callback) {
      this.send(url, null, "GET", callback);
    },
    put: function(type, object, callback) {
      if (!object.id) {
        console.warn("Object has to have an id to be able to PUT it.")
      }
      this.send(type + "/" + object.id, object, "PUT", callback);
    },
    post: function(type, object, callback) {
      this.send(type, object, "POST", callback);
    },
    send: function(url, object, method, callback) {
      xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == XMLHttpRequest.DONE) {
              if (xmlhttp.status == 200) {
                callback(JSON.parse(xmlhttp.responseText));
              } else {
                this.errorHandler(xmlhttp.responseText)
              }
          }
      }.bind(this);

      xmlhttp.open(method, this.root_url + url + "/", true);
      xmlhttp.setRequestHeader('content-type', 'application/json; charset=utf-8');

      if (object) {
        xmlhttp.send(JSON.stringify(object));
      } else {
        xmlhttp.send();
      }
    }
  });
  </script>
</polymer-element>
