<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="zuks-ws">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer({
    root_url: "ws://localhost:8888/ws",
    ws: null,
    event_handler: {},
    initWebSocket: function() {
      var self = this;

      self.ws = new WebSocket(self.root_url);
      self.ws.onopen = function() {
        console.log("Webservice connected");
      };
      self.ws.onmessage = function(msg) {
        console.log("Recieved message: " + msg.data);

        object = JSON.parse(msg.data);

        var event_function = eval("self.event_handler." + object.event);
        if (event_function) {
          event_function(object.old, object.new);
        } else {
          console.warn("No handler registered for event: " + object.event);
        }
      };
    }
  });
  </script>
</polymer-element>