<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="zuks-rest">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer({
    root_url: /*SETTINGS:server-url*/"http://" + location.hostname + ":8000/"/*END_SETTINGS*/,
    errorHandler: null,
    put: function(type, object, callback) {
      if (!object.id) {
        console.warn("Object has to have an id to be able to PUT it.")
      }
      this.send(type + "/" + object.id, object, "PUT", callback);
    },
    post: function(type, object, callback) {
      this.send(type, object, "POST", callback);
    },
    send: function(url, object, method, callback) {
      var self = this;
      $.ajax({
        url:self.root_url + url + "/",
        type:method,
        data:JSON.stringify(object),
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        error: self.errorHandler,
        success: callback
      });
    },
    get: function(url, callback) {
      var self = this;
      $.ajax({
        url:self.root_url + url + "/",
        type:"GET",
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: callback,
        error: self.errorHandler
      });
    }
  });
  </script>
</polymer-element>