<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="zuks-ws">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer({
    root_url: /*SETTINGS:websocket-server-url*/"ws://" + location.hostname +  ":8888/ws"/*END_SETTINGS*/,
    ws: null,
    event_handler: {},
    initWebSocket: function() {
      var self = this;

      self.ws = new WebSocket(self.root_url);
      self.ws.onopen = function() {
        console.log("Webservice connected");
      };
      self.ws.onmessage = function(msg) {
        console.log("Recieved message: " + msg.data);

        object = JSON.parse(msg.data);
        event = object.event;
        if (event.indexOf('#') >= 0) {
          event = event.split('#')[0];
        }

        var event_function = eval("self.event_handler." + event);
        if (event_function) {
          event_function(object.old, object.new);
        } else {
          console.warn("No handler registered for event: " + event);
        }
      };
    },
    send: function(message) {
      if (this.ws) {
        this.ws.send(message);
      }
    }
  });
  </script>
</polymer-element>