<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="zuks-rest.html">
<link rel="import" href="zuks-ws.html">

<polymer-element name="zuks-service" attributes="volunteers volunteerGroups">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>

    <zuks-rest id="rest"></zuks-rest>
    <zuks-ws id="ws"></zuks-ws>

  </template>
  <script type="text/javascript" src="IndexedArray.js"></script>
  <script>
  Polymer({
    volunteers: new IndexedArray('id'),
    volunteerGroups: new IndexedArray('id'),
    ready: function() {
      var self = this;

      this.$.rest.errorHandler = function(response, status, error) {
        self.fire('error', {status: status, msg: error});
      };

      this.$.ws.event_handler = {
        volunteer_create: function(oldVolunteer, volunteer) {
          self.volunteers.values.push(volunteer);
          var group = self.volunteerGroups.get(volunteer.group);
          group.members.push(volunteer);
        },
        volunteer_update: function(oldVolunteer, volunteer) {
          if (oldVolunteer.group != volunteer.group) {
            var oldGroup = self.volunteerGroups.get(oldVolunteer.group);
            self.spliceModel(oldGroup.members, oldVolunteer);

            var newGroup = self.volunteerGroups.get(volunteer.group);
            newGroup.members.push(volunteer);
          }

          var v = self.volunteers.get(volunteer.id);
          $.extend(v, volunteer);
        },
        volunteerGroup_create: function(oldGroup, group) {
          self.handleNewGroup(self, group);
        },
        volunteerGroup_update: function(oldGroup, group) {
          var g = self.volunteerGroups.get(group.id);
          $.extend(g, group);
        }
      };
      this.$.ws.initWebSocket();

      this.init();
    },
    init: function() {
      var self = this;
      this.$.rest.get('volunteerGroups', function(response) {
        self.volunteerGroups.values = [];
        self.volunteers.values = [];
        $(response).each(function() {
          self.handleNewGroup(self, this);
        })
      });
    },
    handleNewGroup: function(self, group) {
      self.$.rest.get('volunteerGroups/' + group.id + "/members", function(resp) {
        group.members = resp;
        self.volunteerGroups.values = self.volunteerGroups.values.concat(group);
        self.volunteers.values = self.volunteers.values.concat(resp);
      });
    },
    addVolunteer: function(volunteer) {
      this.$.rest.post('volunteers', volunteer);
    },
    updateVolunteer: function(volunteer) {
      this.$.rest.put('volunteers', volunteer);
    },
    addGroup: function(group) {
      this.$.rest.post('volunteerGroups', group);
    },
    updateGroup: function(group) {
      this.$.rest.put('volunteerGroups', group);
    },
    indexOfModel: function(array, object) {
      for (var i=0; i < array.length; i++) {
        if (array[i].id == object.id) {
          return i;
        }
      }
      return -1;
    },
    spliceModel: function(array, object) {
      var index = this.indexOfModel(array, object);
      if (index >= 0) {
        array.splice(index, 1);
      }
    }
  });
  </script>
</polymer-element>
