<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="zuks-rest">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer({
    root_url: /*SETTINGS:server-url*/"http://" + location.hostname + ":8000/"/*END_SETTINGS*/,
    errorHandler: null,
    get: function(url, callback) {
      this.send(url, null, "GET", callback);
    },
    put: function(type, object, callback) {
      if (!object.id) {
        console.warn("Object has to have an id to be able to PUT it.")
      }
      this.send(type + "/" + object.id, object, "PUT", callback);
    },
    post: function(type, object, callback) {
      this.send(type, object, "POST", callback);
    },
    send: function(url, object, method, callback) {
      var request = callback.request = new XMLHttpRequest();
      request.onreadystatechange = function() {
        var request = callback.request;
        if (request.readyState == XMLHttpRequest.DONE) {
            if (request.status >= 200 && request.status < 300) {
              callback(JSON.parse(request.responseText));
            } else {
              this.errorHandler(request.responseText)
            }
            callback.request = null;
        }
      }.bind(this);

      request.open(method, this.root_url + url + "/", true);
      request.setRequestHeader('content-type', 'application/json; charset=utf-8');
      request.setRequestHeader('accept', 'application/json; charset=utf-8');

      if (object) {
        request.send(JSON.stringify(object));
      } else {
        request.send();
      }
    }
  });
  </script>
</polymer-element>
