<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">

<link rel="import" href="zuks-list-item.html">

<polymer-element name="zuks-operation-list" attributes="count operations">
  <!-- Global style -->
  <style type="text/css">
     html /deep/ #operationDetail {
      margin: 0;
      max-width: 280px;
      margin-top: 4px;
      transition: transform 0.15s;
    }

    html /deep/ #operationDetail {
      margin-top: 0;
    }

    html /deep/ #operationDetail.movedAway {
      transform: translateX(-200%);
    }

    html /deep/ #operationDetail .actions {
      height: 100px;
    }

    html /deep/ #operationDetail .actions div {
      width: 120px;
      text-align: center;
      position: relative;
      cursor: pointer;
    }

    html /deep/ #operationDetail core-icon {
      margin-bottom: 8px;
    }

    html /deep/ #operationDetail paper-ripple {
      color: #4d9eff;
    }

    html /deep/ #operationDetail paper-shadow {
      padding: 24px;
      margin-top: 8px;
      margin-bottom: 4px;
      border-radius: 2px;
    }

    html /deep/ #operationDetail paper-shadow paper-button {
      margin-right: -10px;
    }
  </style>
  <template>
    <style>
      .groupIcon {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        color: #4d9eff;
      }

      .time {
        color: darkgray;
        font-size: 0.8em;
      }

      .time.soon {
        color: #ec7217;
      }

      .count {
        color: darkgray;
        font-size: 0.9em;
        margin-top: 4px;
      }
    </style>

    <core-list data="{{operations}}"
                 id="list" fit
                 selection="{{selectedOperation}}">
      <template>
        <zuks-list-item class="item">
          <div horizontal layout center>
            <core-icon class="groupIcon" icon="assignment"></core-icon>
            <div vertical layout flex>
              <div horizontal layout>
                <div flex>{{model.name}}</div>
                <div class="time {{ {soon: model.soon } | tokenList }}">{{model.time}}</div>
              </div>
              <div class="count">{{model.count}} Helfer</div>
            </div>
          </div>
        </zuks-list-item>
      </template>
    </core-list>

   <paper-action-dialog heading="{{selectedOperation.name}}"
      on-core-overlay-position="{{layoutOperationOverlay}}"
on-core-overlay-close-completed="{{operationOverlayClosed}}"
                            id="operationDetail" autoCloseDisabled>
      <div vertical layout >
        <div horizontal layout class="actions">
          <div vertical layout center center-justified >
            <core-icon icon="social:group"></core-icon>
            <div>Gruppen zuweisen</div>
            <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
          </div>
          <div vertical layout center center-justified >
            <core-icon icon="maps:my-location"></core-icon>
            <div>Treffpunkt anzeigen</div>
            <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
          </div>
        </div>
        <div class="actions" horizontal layout>
          <div vertical layout center center-justified>
            <core-icon icon="face"></core-icon>
            <div>Gruppenführer wählen</div>
            <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
          </div>
          <div vertical layout center center-justified >
            <core-icon icon="check"></core-icon>
            <div>Abschließen</div>
            <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
          </div>
        </div>
      </div>

        <paper-button class="tintText" affirmative>Schließen</paper-button>
    </paper-action-dialog>

  </template>
  <script type="text/javascript" src="assign.polyfill.js"></script>
  <script>
  Polymer({
    computed: {
      count: 'operations.length'
    },
    ready: function() {
      this.operations = [
        {name : "Sandsäcke füllen", time:'01.05. 15:45', count: 20, soon : true},
        {name : "Betten aufbauen", time:'02.05. 18:45', count: 8, soon : false},
      ]
    },
    operationOverlayClosed: function(event) {
      if (event.target === this.$.operationDetail) {
        this.$.list.clearSelection();
      }
    },
    layoutOperationOverlay: function(event) {
      var thisRect = this.getBoundingClientRect();

      event.target.style.left = thisRect.right + 'px';
      event.target.style.top = thisRect.top + 'px';
      event.target.dimensions.position = {v: 'top', h: 'left'};
    },
    selectedOperationChanged: function(event) {
      if (this.selectedOperation) {
        this.$.operationDetail.open();
      } else {
        this.$.operationDetail.close();
      }
    }
  });
  </script>
</polymer-element>
