<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">

<polymer-element name="zuks-list-item" attributes="selected">
  <template>
    <style>
    :host {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      cursor: pointer;
    }

    paper-shadow {
      height: 100%;
    }

    paper-shadow.selected {
      background: #eee;
    }

    paper-shadow {
      border-radius: 2px;
      padding: 16px;
    }
    </style>

    <paper-shadow class="{{ {selected: selected} | tokenList }}">
      <content></content>
      <paper-ripple fit></paper-ripple>
    </paper-shadow>

  </template>
  <script>
  Polymer();
  </script>
</polymer-element>
