<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-overlay/core-overlay.html">

<link rel="import" href="zuks-list-item.html">

<polymer-element name="zuks-poi-list" attributes="poiCategories selectedPOI">

  <!-- global dialog style -->
  <style type="text/css" shim-shadowdom>
    html /deep/ #poiDetail {
      margin: 0;
      max-width: 280px;
      transition: transform 0.15s;
    }

    html /deep/ .menu core-icon.category {
      color: #505353;
      margin-right: 12px;
    }

    html /deep/ #poiDetail /deep/ paper-icon-button.location {
      margin: auto;
      padding-top: 20px;
    }

    html /deep/ #poiDetail.movedAway {
      transform: translateX(-200%);
    }
  </style>

  <template>
    <style>
    .divider {
      color: #888;
      padding-left: 16px;
      padding-top: 16px;
      padding-bottom: 4px;
    }

    #poiList core-icon {
      width: 28px;
      height: 28px;
      color: #4d9eff;
      margin-right: 8px;
    }
    </style>

    <core-list data="{{poiCategories.values | flattenGroup}}"
             groups="{{poiCategories.values}}"
          selection="{{selectedPOI}}"
                 id="poiList" selectionenabled fit>
      <template>
        <div divider class="divider" horizontal layout center>
          <div flex>{{groupModel.name}}</div>
        </div>
        <zuks-list-item class="item" selected="{{selected}}">
          <div horizontal layout center>
            <core-icon icon="{{groupModel.icon}}" class="category"></core-icon>
            <div flex>{{model.name}}</div>
          </div>
        </zuks-list-item>
      </template>
    </core-list>

    <paper-action-dialog heading="{{editablePOI.name.length > 0 ? editablePOI.name : 'Ort hinzufügen'}}"
                              id="poiDetail"
               autoCloseDisabled="{{!!editablePOI.id}}"
        on-core-overlay-position="{{layoutPOIOverlay}}"
 on-core-overlay-close-completed="{{poiOverlayClosed}}"
                        backdrop="{{!editablePOI.id}}" vertical layout >
      <template if="{{editablePOI}}">
        <div flex>
          <paper-input label="Name" value="{{editablePOI.name}}" autofocus floatingLabel >
          </paper-input>
        </div>

        <paper-dropdown-menu label="Kategorie">
            <paper-dropdown layered class="dropdown">
                <core-menu class="menu" valueattr="cid" selected="{{editablePOI.category}}">
                    <template repeat="{{category in poiCategories.values}}">
                        <paper-item cid="{{category.id}}" horizontal layout center>
                          <core-icon icon="{{category.icon}}" class="category"></core-icon>
                          <div flex>{{category.name}}</div>
                        </paper-item>
                    </template>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>

        <paper-input-decorator label="Beschreibung" floatingLabel>
          <textarea value="{{editablePOI.description}}" rows="3"></textarea>
        </paper-input-decorator>

        <div horizontal layout>
          <paper-input-decorator label="Adresse" floatingLabel>
            <textarea readonly value="{{editablePOI.address}}" rows="3"></textarea>
          </paper-input-decorator>
          <paper-icon-button icon="maps:my-location" class="location" on-click="{{changeLocation}}">
          </paper-icon-button>
        </div>

        <paper-button dismissive>Abbrechen</paper-button>
        <paper-button class="tintText" on-click="{{savePOI}}" affirmative>Speichern</paper-button>
      </template>
    </paper-action-dialog>

  </template>
  <script type="text/javascript" src="assign.polyfill.js"></script>
  <script>
  Polymer({
    editablePOI: null,
    flattenGroup: function(categoryList) {
      var pois = [];
      categoryList.forEach(function(category) {
        pois.push(category.pois);
      });
      return pois;
    },
    selectPOI: function(poi) {
      if (this.selectedPOI && this.selectedPOI.id == poi.id) {
        this.$.poiList.clearSelection();
      } else {
        this.$.poiList.selectData(poi);
        this.$.poiList.scrollToData(poi);
      }
    },
    createPOI: function() {
      this.editablePOI = {
        name: '', description: '',
        address: '', category: -1,
        location: {latitude: 0, longitude: 0}
      };
      this.$.poiDetail.open();
    },
    selectedPOIChanged: function(changes) {
      if (this.selectedPOI) {
        this.editablePOI = Object.assign({}, this.selectedPOI);
        this.$.poiDetail.open();
      } else {
        this.$.poiDetail.close();
      }
    },
    poiOverlayClosed: function(event) {
      if (event.target === this.$.poiDetail) {
        this.$.poiList.clearSelection();
      }
    },
    layoutPOIOverlay: function(event) {
      var thisRect = this.getBoundingClientRect();

      event.target.style.left = thisRect.right + 'px';
      event.target.style.top = thisRect.top + 'px';
      event.target.dimensions.position = {v: 'top', h: 'left'};
    },
    savePOI: function(event) {
      if (this.editablePOI.id) {
        this.fire("update", this.editablePOI);
      } else {
        this.fire("create", this.editablePOI);
      }
    },
    changeLocation: function() {
      this.$.poiDetail.classList.add('movedAway');
      var loc = this.editablePOI.id ? this.editablePOI.location : null;
      this.fire("location-request", {
        locationPreset: loc,
        callback: this.applyLocation.bind(this)
      });
    },
    applyLocation: function(locationResult) {
      this.$.poiDetail.classList.remove('movedAway');
      if (locationResult && locationResult.location) {
        this.editablePOI.location = locationResult.location;
        this.editablePOI.address = locationResult.address;
      }
    }
  });
  </script>
</polymer-element>
