<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/core-pages/core-pages.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">

<link rel="import" href="zuks-service/zuks-service.html">
<link rel="import" href="zuks-map.html">
<link rel="import" href="zuks-volunteer-list.html">
<link rel="import" href="zuks-group-list.html">
<link rel="import" href="zuks-poi-list.html">
<link rel="import" href="zuks-operation-list.html">

<polymer-element name="zuks-app">

  <!-- Global styles -->
  <style type="text/css" shim-shadowdom>
    html /deep/ .tintText {
      color: #4d9eff;
    }
  </style>

  <template>
    <style>
    .container {
      height: 100%;
      background-color: #fff;
    }

    .icon-container {
      font-size: 0.5em;
      position: relative;;
    }

    .notification-count {
      display: inline-block;
          margin: 6px;
  background-color: red;
  border-radius: 10px;
  width: 15px;
  height: 18px;
  padding-top: 2px;
  padding-left: 5px;
    }

    paper-tabs::shadow #selectionBar {
      background-color: #ec7217;
    }
    paper-tabs paper-tab::shadow #ink {
      color: #ec7217;
    }

    paper-tabs, core-toolbar {
      width: 320px;
      background-color: #4d9eff;
      color: white;
    }

    paper-tabs {
      font-weight: 800;
    }

    #groupList {
      display: none;
    }
    </style>

    <zuks-service volunteers="{{volunteers}}"
             volunteerGroups="{{volunteerGroups}}"
                        pois="{{pois}}"
               poiCategories="{{poiCategories}}"
                          id="service">
    </zuks-service>

    <div class="container" layout horizontal>
      <div vertical layout>
        <core-toolbar>
          <div flex>ZUKS</div>
          <div vertical layout center center-justified on-tap="{{createGroup}}" class="icon-container">
            <core-icon icon="social:group-add"></core-icon>
            <div>Gruppe erstellen</div>
            <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
          </div>
          <div vertical layout center center-justified on-tap="{{createPOI}}" class="icon-container">
            <core-icon icon="social:location-city"></core-icon>
            <div>Ort erstellen</div>
            <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
          </div>
        </core-toolbar>
        <paper-tabs selected="{{selectedTab}}">
          <paper-tab>
            Helfer
          </paper-tab>  
          <paper-tab>
            Orte
          </paper-tab>
          <paper-tab>
            <span>Einsätze<span class="notification-count">3</span></span>
          </paper-tab>
        </paper-tabs>

        <core-pages selected="{{selectedTab}}" flex>
          <zuks-volunteer-list volunteerGroups="{{volunteerGroups}}"
                                    volunteers="{{volunteers}}"
                            selectedVolunteers="{{selectedVolunteers}}"
                                     on-update="{{volunteersUpdated}}"
                              on-focus-request="{{volunteerFocusRequested}}"
                           on-location-request="{{locationRequested}}"
                        on-message-instruction="{{messageInstructionAdded}}"
                              on-group-selected="{{groupSelected}}"
                                            id="list">
          </zuks-volunteer-list>
          
          <zuks-poi-list poiCategories="{{poiCategories}}"
                                  pois="{{pois}}"
                           selectedPOI="{{selectedPOI}}"
                             on-create="{{poiCreated}}"
                             on-update="{{poiUpdated}}"
                   on-location-request="{{locationRequested}}"
                                    id="poiList">
          </zuks-poi-list>
          <zuks-operation-list id="operationList"></zuks-operation-list>
        </core-pages>
      </div>

      <zuks-map flex volunteers="{{volunteers}}"
             selectedVolunteers="{{selectedVolunteers}}"
                           pois="{{pois}}"
                  poiCategories="{{poiCategories}}"
                    selectedPOI="{{selectedPOI}}"
            on-volunteer-select="{{volunteerSelected}}"
                  on-poi-select="{{poiSelected}}"
                             id="map">
      </zuks-map>

      <zuks-group-list volunteerGroups="{{volunteerGroups}}"
                                 on-create="{{groupAdded}}"
                                 on-update="{{groupUpdated}}"
                                        id="groupList">
      </zuks-group-list>
    </div>
  </template>
  <script>
  Polymer({
    ready: function() {
      this.selectedTab = 0;
      CoreStyle.g.paperInput.focusedColor = '#4d9eff';
    },
    volunteerAdded: function(volunteerLocation) {
      this.volunteer = {
        first_name: "",
        last_name: "",
        location: volunteerLocation.detail,
        group: 1
      }
      this.$.addVolunteer.open();
    },
    groupAdded: function(event) {
      this.$.service.addGroup(event.detail);
    },
    groupUpdated: function(event) {
      this.$.service.updateGroup(event.detail);
    },
    volunteersUpdated: function(event) {
      event.detail.forEach(function(volunteer) {
        this.$.service.updateVolunteer(volunteer);
      }, this);
    },
    volunteerFocusRequested: function(event) {
      this.$.map.focus(event.detail);
    },
    volunteerSelected: function(event) {
      this.$.list.selectVolunteer(event.detail);
    },
    createGroup: function() {
      this.$.groupList.addGroup();
    },
    poiCreated: function(event) {
      this.$.service.addPOI(event.detail);
    },
    poiUpdated: function(event) {
      this.$.service.updatePOI(event.detail);
    },
    createPOI: function() {
      this.$.poiList.createPOI();
    },
    poiSelected: function(event) {
      this.$.poiList.selectPOI(event.detail);
    },
    locationRequested: function(event) {
      this.$.map.startSearch(event.detail);
    },
    messageInstructionAdded: function(event) {
      this.$.service.addMessageInstruction(event.detail);
    },
    groupSelected: function(event) {
      this.$.groupList.updateGroup(event.detail);
    }
  });
  </script>
</polymer-element>
