<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/leaflet-map/leaflet-map.html">
<link rel="import" href="../bower_components/core-a11y-keys/core-a11y-keys.html">

<link rel="import" href="zuks-service/zuks-client-service.html">
<link rel="import" href="zuks-list-item.html">
<link rel="import" href="marker-icon/leaflet-marker-icon.html">

<polymer-element name="zuks-client-app">

  <!-- Global styles -->
  <style type="text/css" shim-shadowdom>
    html /deep/ .tintText {
      color: #4d9eff;
    }
  </style>

  <template>
    <style>
    :host {
      color: #444;
    }

    core-header-panel {
      height: 100%;
      width: 100%;
      background-color: #fff;
    }

    .core-header {
      background-color: #4d9eff;
      height: 60px;
      color: white;
      padding-right: 8px;
    }

    .core-header img {
      height: 40px;
      margin: 10px;
    }

    #login paper-input{
      margin-left: 12px;
      margin-right: 12px;
    }

    #login paper-button {
      float: right;
    }

    .item {
      padding: 8px;
      padding-bottom: 0;
    }

    paper-shadow {
      border-radius: 2px;
      padding: 24px;
      transition: transform 0.4s;
    }

    paper-shadow.borderless {
      padding: 0;
    }

    :host /deep/ h1 {
      margin-top: 0;
      font-size: 1.3em;
    }

    :host /deep/ h2 {
      font-size: 1.1em;
    }

    paper-shadow.deleted {
      transform: translateX(110%);
    }

    paper-icon-button.close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      padding: 24px;
    }

    #emptyList {
      text-align: center;
      padding: 32px;
      color: #666;
      font-size: 1.2em;
    }

    leaflet-map {
      height: 300px;
      pointer-events: none;
    }
    .map paper-shadow {
      padding: 0;
    }

    span.hilight {
      font-weight: bold;
      color: #4d9eff;
    }

    ul {
      list-style: none;
      line-height: 2em;
      padding: 0;
      margin: 0;
    }

    ul paper-checkbox {
      margin-right: 8px;
      color: #4d9eff;
    }

    ul paper-checkbox::shadow #ink[checked] {
      color: #4d9eff;
    }
    ul paper-checkbox::shadow #checkbox.checked {
      background-color: #4d9eff;
      border-color: #4d9eff;
    }

    ul li * {
      vertical-align: middle;
    }

    .action {
      color: #ec7217;
    }

    #gruppenfuehrer {
      background-image: url('/res/gruppenfuehrer.jpg');
      height: 260px;
      background-position: center;
      background-repeat: no-repeat;
    }

    </style>

    <core-style id="map-style">
      <style>
        marker-icon {
          color: #4d9eff;
        }
      </style>
    </core-style>

    <zuks-client-service instructions="{{instructions}}" user="{{user}}" id="service" on-login="{{loggedIn}}"></zuks-client-service>

    <core-header-panel mode="waterfall" fullbleed>
      <div class="core-header" horizontal layout center>
        <img src="/res/logo@1200.png">
        <div flex></div>
        <template if="{{user.id}}">
          <template if="{{!requestingLocation}}">
            <paper-icon-button icon="maps:my-location" id="locationButton" on-click="{{locate}}"></paper-icon-button>
          </template>
          <template if="{{requestingLocation}}">
            <paper-spinner active></paper-spinner>
          </template>
          <paper-icon-button icon="exit-to-app" id="logoutButton" on-click="{{logout}}"></paper-icon-button>
        </template>
      </div>


      <template if="{{!user.id}}">
        <div id="login" vertical layout>
          <paper-input label="Vorname" value="{{user.first_name}}" autofocus floatingLabel></paper-input>
          <paper-input label="Nachname" value="{{user.last_name}}" floatingLabel>Seyer
          <core-a11y-keys keys="Enter" on-keys-pressed="{{register}}"></core-a11y-keys>
          </paper-input>
          <div>
            <template if="{{credentialsValid(user.first_name, user.last_name)}}">
              <paper-button class="tintText" on-click="{{register}}">Anmelden</paper-button>
            </template>
          <div>
        </div>
      </template>

      <template if="{{user.id}}">
        <template if="{{instructions.length == 0}}">
          <div id="emptyList">Keine Meldungen.</div>
        </template>
        <template repeat="{{instruction, index in instructions}}">
          <div class="item {{ {map: !!instruction.location} | tokenList }}">
            <paper-shadow vertical layout class="{{ {borderless: instruction.location} | tokenList }}">
              <paper-icon-button icon="close" class="close" on-click="{{dismissCard}}"></paper-icon-button>

              <template if="{{instruction.subject}}">
                <h1>{{instruction.subject}}</h1>
                {{instruction.content}}
              </template>

              <template if="{{instruction.msg == 0}}">
                <h1>Vorbesprechung</h1>
                <p>
                  Dein erster Einsatz beginnt Morgen, den <span class="hilight">13.06.</span> um <span class="hilight">10 Uhr</span>. 
                  Sei bitte um <span class="hilight">9 Uhr</span> in <span class="hilight">Hannover, Messestraße 9</span>.
                </p>
                <h2>Packliste</h2>
                <ul>
                  <li><paper-checkbox></paper-checkbox><span>Regenfeste Kleidung</span></li>
                  <li><paper-checkbox></paper-checkbox><span>Feste Schuhe</span></li>
                  <li><paper-checkbox></paper-checkbox><span>Smartphone</span></li>
                  <li><paper-checkbox></paper-checkbox><span>Akkupack</span></li>
                </ul>
                <paper-button class="action"self-end>Navigation starten</paper-button>
              </template>

              <template if="{{instruction.msg == 1}}">
                <h1>Gruppenführer treffen</h1>
                <p>
                  Du bist einer Gruppe zugeordnet worden. Gruppenführer erkennst du an folgendem Zeichen:
                </p>
                <div id="gruppenfuehrer"></div>
              </template>

              <template if="{{instruction.location}}">
                <leaflet-map longitude="{{instruction.location.longitude}}"
                              latitude="{{instruction.location.latitude}}"
                                  zoom="14"
                           zoomControl="false">

                  <!-- Target location -->
                  <leaflet-marker longitude="{{instruction.location.longitude}}"
                                   latitude="{{instruction.location.latitude}}"
                                       icon="{{leafletIconBindings.t[index]}}">
                  </leaflet-marker>
                  <leaflet-marker-icon icon="flag"
                                leafletIcon="{{leafletIconBindings.t[index]}}"
                  </leaflet-marker-icon>
                </leaflet-map>
                <paper-button class="action"self-end>Navigation starten</paper-button>
              </template>
            </paper-shadow>
          </div>
        </template>
      </template>

    </core-header-panel>

  </template>
  <script>
  Polymer({
    leafletIconBindings: {v: [], t: []},
    requestingLocation: false,
    ready: function() {
      this.selectedTab = 0;
      CoreStyle.g.paperInput.focusedColor = '#4d9eff';
      this.defineOfflineCards();

      this.user.first_name = 'Simon';
      this.user.last_name = 'Seyer';
      this.register();
    },
    defineOfflineCards: function() {
      this.offlineCards = [
        { msg: 0 },
        { msg: 1 },];
    },
    register: function() {
      this.$.service.register();
    },
    loggedIn: function(event) {
      this.instructions.push({
        subject: "Herzlich Willkommen, " + event.detail.first_name,
        content: "Vielen Dank, dass du bei diesem Einsatz dabei bist. Du wirst alle wichtigen Informationen hier in dieser App erhalten. Lass uns starten und schließe die Karte mit dem X oben rechts."
      });
    },
    logout: function() {
      this.$.service.logout();
      this.instructions = [];
      this.defineOfflineCards();
    },
    dismissCard: function(event) {
      var item = event.target.parentElement;
      var index = event.target.templateInstance.model.index;
      item.classList.add('deleted');
      this.async(function() {
        this.instructions.splice(index, 1);
        this.nextCard();
      }, this, 300);
    },
    nextCard: function() {
      if (this.offlineCards.length > 0) {
        var newCard = this.offlineCards.splice(0,1)[0];
        this.instructions.push(newCard);
      }
    },
    locate: function() {
      if ("geolocation" in navigator) {
        this.requestingLocation = true;
        navigator.geolocation.getCurrentPosition(function(position) {
          this.instructions.unshift({
            subject: "Gefunden",
            content: "Wir konnten Deinen Standort erfolgreich lokalisieren!"
          });
          this.requestingLocation = false;
          this.user.location = position.coords;
          this.$.service.updateUser();
          this.fire('user-location-finished');
        }.bind(this));
      } else {
        this.instructions.unshift({
          subject: "Können Dich nicht finden",
          content: "Mit Deinem Browser kann dein Standort leider nicht abgerufen werden. Ich denke mir einen aus."
        });
        this.user.location = {
          latitude: 50.097777 + this.getRandomLocationOffset(),
          longitude: 8.216612 + this.getRandomLocationOffset()
        };
        this.$.service.updateUser();
        this.fire('user-location-finished');
      }
    },
    getRandomLocationOffset: function() {
      return Math.random() * 0.006 - 0.003;
    },
    credentialsValid: function(first_name, last_name) {
      return first_name && first_name.trim().length > 0 && last_name && last_name.trim().length > 0;
    }
  });
  </script>
</polymer-element>
