<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/leaflet-map/leaflet-map.html">
<link rel="import" href="../bower_components/core-style/core-style.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">

<link rel="import" href="marker-icon/leaflet-marker-icon.html">

<polymer-element name="zuks-map" attributes="volunteers selectedVolunteers">
  <template>
    <style>
    :host {
      display: block;
      height: 100%;
    }

    leaflet-map {
      width: 100%;
      height: 100%;
    }
    </style>

    <core-style id="map-style">
      <style>
        marker-icon {
          color: #4d9eff;
        }
        marker-icon.selected {
          color: #ec7217;
        }
      </style>
    </core-style>
    
    <leaflet-map
      longitude="8.238611"
      latitude="50.083056"
      zoom="14"
      id="map"
      on-contextmenu="{{clickedRight}}">
        
        <template repeat="{{volunteer in volunteers.values}}">
          <leaflet-marker longitude="{{volunteer.location.longitude}}" 
                        latitude="{{volunteer.location.latitude}}"
                        on-click="{{volunteerSelected}}"
                        icon="{{volunteer.leafletIcon}}">
          </leaflet-marker>
          <leaflet-marker-icon icon="maps:place" leafletIcon="{{volunteer.leafletIcon}}" iconClass="{{volunteer.selected ? 'selected' : ''}}"></leaflet-marker-icon>
        </template>
    </leaflet-map>

  </template>
  <script>
  Polymer({
    clickedRight: function(e) {
      if (e.detail && e.detail.latlng) {
        this.fire('volunteer-added', {
          latitude: e.detail.latlng.lat,
          longitude: e.detail.latlng.lng
        });
      }
    },
    selectedVolunteersChanged: function(changes, newVal) {
      var self = this;
      if (newVal == undefined) {
        // Array updated
        $(changes).each(function(changeI, change) {
          $(change.removed).each(function() {
            this.selected = false;
          });
          if (change.addedCount > 0) {
            for(var i=0; i < change.addedCount; i++) {
              self.selectedVolunteers[change.index + i].selected = true;
            }
          }
        });
      } else {
        // Array replaced
        $(changes).each(function() {
          this.selected = false;
        });
        $(newVal).each(function() {
          this.selected = true;
        });
      }
    },
    volunteerSelected: function(event) {
      var volunteer = event.target.templateInstance.model.volunteer;
      this.fire('volunteer-select', volunteer);
    },
  });
  </script>
</polymer-element>
