<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="zuks-list-item.html">

<polymer-element name="zuks-group-list" attributes="volunteerGroups">
  <template>
    <style>
    </style>

    <core-list data="{{volunteerGroups.values}}" 
   on-core-activate="{{groupSelected}}" 
                 id="list" selectionenabled fit>
      <template>
        <zuks-list-item class="item {{ {selected: selected} | tokenList }}">
          {{model.name}}
        </zuks-list-item>
      </template>
    </core-list>

    <paper-action-dialog heading="Gruppe {{actionName}}"
 on-core-overlay-close-completed="{{groupDialogClosed}}"
                              id="addGroup" backdrop>
        <paper-input label="Name" value="{{group.name}}" autofocus floatingLabel></paper-input>

        <paper-button dismissive>Abbrechen</paper-button>
        <paper-button class="tintText" on-click="{{saveGroup}}" affirmative>Speichern</paper-button>
    </paper-action-dialog>

  </template>
  <script>
  Polymer({
    groupSelected: function(event) {
      this.group = $.extend(true, {}, event.detail.data);
      this.actionName = "aktualisieren";
      this.$.addGroup.open();
    },
    addGroup: function() {
      this.group = {name: "", members: []};
      this.actionName = "hinzufügen";
      this.$.addGroup.open();
    },
    saveGroup: function() {
      if (this.group.id) {
        this.fire("update", this.group);
      } else {
        this.fire("create", this.group);
      }
    },
    groupDialogClosed: function() {
      this.$.list.clearSelection();
    }
  });
  </script>
</polymer-element>
