<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/core-pages/core-pages.html">

<link rel="import" href="zuks-service/zuks-service.html">
<link rel="import" href="zuks-map.html">
<link rel="import" href="zuks-volunteer-list.html">
<link rel="import" href="zuks-group-list.html">

<polymer-element name="zuks-app">
  <template>
    <style>
    :host {
      
    }

    .container {
      height: 100%;
      background-color: #fff;
    }

    paper-tabs::shadow #selectionBar {
      background-color: #4d9eff;
    }
    paper-tabs paper-tab::shadow #ink {
      color: #4d9eff;
    }
     
    paper-tabs {
      width: 300px;
    }

    </style>
    
    <zuks-service volunteers="{{volunteers}}" volunteerGroups="{{volunteerGroups}}" id="service"></zuks-service>
    
    <div class="container" layout horizontal>
      <zuks-map flex id="map" volunteers="{{volunteers}}" on-volunteer-added="{{volunteerAdded}}" selectedVolunteers="{{selectedVolunteers}}" on-volunteer-select="{{volunteerSelected}}"></zuks-map>
      
      <div vertical layout>
        <paper-tabs selected="{{selectedTab}}">
          <paper-tab>
            Helfer
          </paper-tab>
          <paper-tab>
            Gruppen
          </paper-tab>
        </paper-tabs>
        
        <core-pages selected="{{selectedTab}}" flex>
          <zuks-volunteer-list volunteerGroups="{{volunteerGroups}}" on-group-added="{{groupAdded}}" 
        on-group-updated="{{groupUpdated}}" on-volunteers-updated="{{volunteersUpdated}}" 
        on-volunteer-selected="{{volunteerSelected}}" selectedVolunteers="{{selectedVolunteers}}" id="list"></zuks-volunteer-list>
            <zuks-group-list volunteerGroups="{{volunteerGroups}}" on-group-added="{{groupAdded}}" 
        on-group-updated="{{groupUpdated}}"></zuks-group-list>
        </core-pages>
      </div>
    </div>

    <paper-action-dialog heading="Freiwilligen hinzufügen" id="addVolunteer" backdrop="true">
        <paper-input-decorator label="Vorname">
          <input is="core-input" value="{{volunteer.first_name}}" autofocus />
        </paper-input-decorator>
        <paper-input-decorator label="Nachname">
          <input is="core-input" value="{{volunteer.last_name}}" />
        </paper-input-decorator>

        <paper-button affirmative>Abbrechen</paper-button>
        <paper-button affirmative on-click="{{saveVolunteer}}">Speichern</paper-button>
    </paper-action-dialog>
    

  </template>
  <script>
  Polymer({
    ready: function() {
      this.selectedTab = 0;
    },
    volunteerAdded: function(volunteerLocation) {
      this.volunteer = {
        first_name: "",
        last_name: "",
        location: volunteerLocation.detail,
        group: 1
      }
      this.$.addVolunteer.open();
    },
    saveVolunteer: function() {
      this.$.service.addVolunteer(this.volunteer);
    },
    groupAdded: function(event) {
      this.$.service.addGroup(event.detail);
    },
    groupUpdated: function(event) {
      this.$.service.updateGroup(event.detail);
    },
    volunteersUpdated: function(event) {
      var self = this;
      $(event.detail).each(function() {
        self.$.service.updateVolunteer(this);
      });
    },
    volunteerSelected: function(event) {
      this.$.list.selectVolunteer(event.detail);
    }
  });
  </script>
</polymer-element>
