<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/core-icons/communication-icons.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">

<link rel="import" href="zuks-list-item.html">

<polymer-element name="zuks-volunteer-list" attributes="volunteers volunteerGroups selectedVolunteers">

  <!-- global dialog style -->
  <style type="text/css" shim-shadowdom>
    html /deep/ #volunteerDetail {
      margin: 0;
      max-width: 280px;
      margin-top: 4px;
      transition: transform 0.15s;
    }

    html /deep/ #volunteerDetail {
      margin-top: 0;
    }

    html /deep/ #volunteerDetail.movedAway {
      transform: translateX(-200%);
    }

    html /deep/ #volunteerDetail .actions {
      height: 100px;
    }

    html /deep/ #volunteerDetail .actions div {
      width: 120px;
      text-align: center;
      position: relative;
      cursor: pointer;
    }

    html /deep/ #volunteerDetail core-icon {
      margin-bottom: 8px;
    }

    html /deep/ #volunteerDetail paper-ripple {
      color: #4d9eff;
    }

    html /deep/ #volunteerDetail paper-shadow {
      padding: 24px;
      margin-top: 8px;
      margin-bottom: 4px;
      border-radius: 2px;
    }

    html /deep/ #volunteerDetail paper-shadow paper-button {
      margin-right: -10px;
    }
     
  </style>

  <template>
    <style>
    .divider {
      color: #888;
      padding-left: 16px;
      padding-top: 16px;
      padding-bottom: 4px;
      cursor: pointer;
    }

    .volunteerSelect {
      color: #4d9eff;
      padding: 0;
      margin-right: 8px;
      z-index: 100;
    }

    .volunteerSelect /deep/ core-icon {
      width: 30px;
      height: 30px;
    }
    </style>

    <core-list data="{{volunteerListData}}"
             groups="{{volunteerGroupListData}}"
          selection="{{selectedVolunteersInternal}}" multi?="{{multiSelection}}"
                 id="volunteerList" fit>
      <template>
        <div divider class="divider">
          {{groupModel.name}}
        </div>
        <zuks-list-item class="item" selected="{{selected}}" on-tap="{{voluneerItemTapped}}">
          <div horizontal layout center>
            <paper-icon-button class="volunteerSelect" icon="{{multiSelection ? (model.selected ? 'check-box' : 'check-box-outline-blank') : (buttonHoverIndex == index ? 'check-box-outline-blank' : 'account-circle')}}"
            on-tap="{{volunteerMultiSelected}}" on-mouseover='{{buttonHovered}}'
            on-mouseout='{{buttonUnhovered}}'>
            </paper-icon-button>
            <div flex>{{model.first_name}} {{model.last_name}}</div>
          </div>
        </zuks-list-item>
      </template>
    </core-list>

    <paper-action-dialog heading="{{selectedVolunteers.length > 1 ? selectedVolunteers.length + ' Helfer ausgewählt' : selectedVolunteers[0].first_name + ' ' + selectedVolunteers[0].last_name}}"
        on-core-overlay-position="{{layoutVolunteerOverlay}}"
 on-core-overlay-close-completed="{{volunteerOverlayClosed}}"
                              id="volunteerDetail" autoCloseDisabled>
        <div vertical layout >
          <div horizontal layout class="actions">
            <div vertical layout center center-justified on-tap="{{locate}}">
              <core-icon icon="maps:my-location"></core-icon>
              <div>Lokalisieren</div>
              <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
            </div>
            <div vertical layout center center-justified on-tap="{{sendToLocation}}">
              <core-icon icon="maps:navigation"></core-icon>
              <div>Ziel festlegen</div>
              <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
            </div>
          </div>
          <div class="actions" horizontal layout>
            <div vertical layout center center-justified on-tap="{{composeMessage}}">
              <core-icon icon="communication:messenger"></core-icon>
              <div>Nachricht senden</div>
              <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
            </div>
            <div vertical layout center center-justified on-tap="{{edit}}">
              <core-icon icon="social:group"></core-icon>
              <div>Gruppe zuordnen</div>
              <paper-ripple fit class="recenteringTouch circle"></paper-ripple>
            </div>
          </div>
        </div>

        <paper-button class="tintText" affirmative>Schließen</paper-button>
    </paper-action-dialog>

    <paper-action-dialog heading="Helfer einer Gruppe zuordnen" id="editDialog">
      <paper-dropdown-menu label="Gruppe">
        <paper-dropdown layered class="dropdown">
          <core-menu class="menu" valueattr="gid" selected="{{selectedGroup}}">
            <template repeat="{{group in volunteerGroups.values}}">
              <paper-item gid="{{group.id}}">{{group.name}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-dropdown-menu>

      <paper-button dismissive>Abbrechen</paper-button>
      <paper-button class="tintText" on-click="{{saveVolunteer}}" affirmative>Speichern</paper-button>
    </paper-action-dialog>

    <paper-action-dialog heading="Helfer eine Nachricht senden" id="composeDialog">
      <paper-input-decorator label="Betreff" floatingLabel>
        <input type="text" value="{{message.subject}}" autofocus>
      </paper-input-decorator>

      <paper-input-decorator label="Nachricht" floatingLabel>
        <textarea value="{{message.content}}" rows="3"></textarea>
      </paper-input-decorator>

      <paper-button dismissive>Abbrechen</paper-button>
      <paper-button class="tintText" on-click="{{sendMessage}}" affirmative>Senden</paper-button>
    </paper-action-dialog>

  </template>
  <script type="text/javascript" src="assign.polyfill.js"></script>
  <script>
  Polymer({
    mode: null,
    message: {},
    buttonHoverIndex: -1,
    observe:  {
      'volunteers.values': 'updateListData',
      'volunteerGroups.values': 'updateListData'
    },
    updateListData: function() {
      var volunteers = [];
      var groups = [];
      if (this.volunteerGroups && this.volunteerGroups.values) {
        this.volunteerGroups.values.forEach(function(group) {
          if (group.members.length) {
            groups.push(group);
            volunteers.push(group.members);
          }
        });
      }
      this.volunteerListData = volunteers;
      this.volunteerGroupListData = groups;
    },
    selectVolunteer: function(volunteer) {
      this.$.volunteerList.selectData(volunteer);
      this.$.volunteerList.scrollToData(volunteer);
    },
    selectedVolunteersInternalChanged: function(changes) {
      if (Array.isArray(this.selectedVolunteersInternal)) {
        this.selectedVolunteers = this.selectedVolunteersInternal;
      }  else {
        if (this.selectedVolunteersInternal) {
          this.selectedVolunteers = [this.selectedVolunteersInternal];
        } else {
          this.selectedVolunteers = [];
        }
      }
    },
    selectedVolunteersChanged: function(changes) {
      if (this.selectedVolunteers.length > 0) {
        if (this.selectedVolunteers.length > 1) {
          this.selectedGroup = '';
        } else {
          this.selectedGroup = this.selectedVolunteers[0].group;
        }

        this.$.volunteerDetail.open();
      } else {
        this.$.volunteerDetail.close();
        this.multiSelection = false;
      }
    },
    voluneerItemTapped: function(e) {
      if (e.target.classList.contains('item')) {
        if (this.multiSelection) {
          this.selectVolunteer(e.target.templateInstance.model.model);
          this.multiSelection = false;
        }
      }
    },
    volunteerMultiSelected: function(event) {
      this.multiSelection = true;
      this.selectVolunteer(event.target.templateInstance.model.model);
    },
    buttonHovered: function(e) {
      this.buttonHoverIndex = e.target.templateInstance.model.index;
    },
    buttonUnhovered: function(e) {
      this.buttonHoverIndex = -1;
    },
    volunteerOverlayClosed: function(event) {
      if (event.target === this.$.volunteerDetail) {
        this.$.volunteerList.clearSelection();
      }
    },
    layoutVolunteerOverlay: function(event) {
      var thisRect = this.getBoundingClientRect();

      event.target.style.left = thisRect.right + 'px';
      event.target.style.top = thisRect.top + 'px';
      event.target.dimensions.position = {v: 'top', h: 'left'};
    },
    saveVolunteer: function(event) {
      this.mode = null;
      this.applyUpdate(function(volunteer) {
        volunteer.group = this.selectedGroup;
      }.bind(this));
    },
    locate: function() {
      this.fire("focus-request", this.selectedVolunteers);
    },
    sendToLocation: function() {
      this.mode = null;
      this.$.volunteerDetail.classList.add('movedAway');
      this.fire("location-request", {
        callback: this.applyLocation.bind(this)
      });
    },
    applyLocation: function(locationResult) {
      this.$.volunteerDetail.classList.remove('movedAway');
      if (locationResult && locationResult.location) {
        this.applyUpdate(function(volunteer) {
          volunteer.targetLocation = locationResult.location;
        }.bind(this));
      }
    },
    applyUpdate: function(changeFunction) {
      var editableVolunteers = [];
      this.selectedVolunteers.forEach(function(volunteer) {
        var copiedVolunteer = Object.assign({}, volunteer);
        changeFunction(copiedVolunteer);
        editableVolunteers.push(copiedVolunteer);
      }, this);
      this.fire("update", editableVolunteers);
    },
    composeMessage: function() {
      this.message = {};
      this.$.composeDialog.open();
    },
    edit: function() {
      this.$.editDialog.open();
    },
    sendMessage: function() {
      this.selectedVolunteers.forEach(function(volunteer) {
        var message = Object.assign({}, this.message);
        message.receiver = volunteer.id;
        this.fire("message-instruction", message);
      }, this);
    }
  });
  </script>
</polymer-element>
