<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="zuks-service" attributes="volunteers volunteerGroups">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer({
    volunteers: [],
    volunteerGroups: [],
    ws: null,
    created: function() {
      this.initWebSocket();
      var self = this;
      this.get('volunteerGroups', function(response) {
        self.volunteerGroups = [];
        self.volunteers = [];
        $(response).each(function() {
          var group = this;
          self.get('volunteerGroups/' + this.id + "/members", function(resp) {
            group.members = resp;
            self.volunteerGroups = self.volunteerGroups.concat(group);
            self.volunteers = self.volunteers.concat(resp);
          });
        })
      });
    },
    post: function(type, object) {
      $.ajax({
        url:"http://localhost:8000/" + type + "/",
        type:"POST",
        data:JSON.stringify(object),
        contentType:"application/json; charset=utf-8",
        dataType:"json"
      });
    },
    get: function(url, callback) {
      $.ajax({
        url:"http://localhost:8000/" + url + "/",
        type:"GET",
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: callback
      });
    },
    addVolunteer: function(volunteer) {
      this.post('volunteers', volunteer);
    },
    initWebSocket: function() {
      var self = this;

      self.ws = new WebSocket('ws://localhost:8888/ws');
      self.ws.onopen = function() {
        console.log("Webservice connected");
      };
      self.ws.onmessage = function(msg) {
        console.log("Recieved message: " + msg.data);

        object = JSON.parse(msg.data);

        var event_function = eval("self.event_handler." + object.event);
        if (event_function) {
          event_function(self, object.data);
        } else {
          console.warn("No handler registered for event: " + object.event)
        }
      };
    },
    event_handler: {
      volunteer_create: function(self, volunteer) {
        self.volunteers.push(volunteer)
      }
    }
  });
  </script>
</polymer-element>
