<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="zuks-service" attributes="volunteers">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
    <core-ajax id="volunteers"
      auto
      url="http://localhost:8000/volunteers/?format=json"
      on-core-response="{{volunteersLoaded}}"
      handleAs="json">
    </core-ajax>
  </template>
  <script>
  Polymer({
    created: function() {
      this.volunteers = [];
    },
    addVolunteer: function(volunteer) {
      var self = this;
      $.ajax({
        url:"http://localhost:8000/volunteers/",
        type:"POST",
        data:JSON.stringify(volunteer),
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: function(data){
          self.volunteers.push(data);
        }
      });
    },
    volunteersLoaded: function() {
      this.volunteers = this.$.volunteers.response.slice(0);
    }
  });
  </script>
</polymer-element>
