<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/leaflet-map/leaflet-map.html">
<link rel="import" href="../bower_components/core-a11y-keys/core-a11y-keys.html">

<link rel="import" href="zuks-service/zuks-client-service.html">
<link rel="import" href="zuks-list-item.html">
<link rel="import" href="marker-icon/leaflet-marker-icon.html">

<polymer-element name="zuks-client-app">

  <!-- Global styles -->
  <style type="text/css" shim-shadowdom>
    html /deep/ .tintText {
      color: #4d9eff;
    }
  </style>

  <template>
    <style>
    :host {
      color: #444;
    }

    core-header-panel {
      height: 100%;
      width: 100%;
      background-color: #fff;
    }

    .core-header {
      background-color: #4d9eff;
      height: 60px;
      color: white;
      padding-right: 8px;
    }

    .core-header img {
      height: 40px;
      margin: 10px;
    }

    #login paper-input{
      margin-left: 12px;
      margin-right: 12px;
    }

    #login paper-button {
      float: right;
    }

    .item {
      padding: 8px;
      padding-bottom: 0;
    }

    paper-shadow {
      border-radius: 2px;
      padding: 16px;
      transition: transform 0.4s;
    }

    :host /deep/ h1 {
      margin-top: 0;
      font-size: 1.3em;
    }

    paper-shadow.deleted {
      transform: translateX(110%);
    }

    paper-icon-button.close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    #emptyList {
      text-align: center;
      padding: 32px;
      color: #666;
      font-size: 1.2em;
    }

    leaflet-map {
      height: 300px;
      pointer-events: none;
    }
    .map paper-shadow {
      padding: 0;
    }

    </style>

    <core-style id="map-style">
      <style>
        marker-icon {
          color: #4d9eff;
        }
      </style>
    </core-style>

    <zuks-client-service instructions="{{instructions}}" user="{{user}}" id="service"></zuks-client-service>

    <core-header-panel mode="waterfall" fullbleed>
      <div class="core-header" horizontal layout center>
        <img src="https://www.zuks.org/static/img/logo/logo-weiss%401200.png">
        <div flex></div>
        <template if="{{user.id}}">
          <template if="{{!requestingLocation}}">
            <paper-icon-button icon="maps:my-location" id="locationButton" on-click="{{locate}}"></paper-icon-button>
          </template>
          <template if="{{requestingLocation}}">
            <paper-spinner active></paper-spinner>
          </template>
          <paper-icon-button icon="exit-to-app" id="logoutButton" on-click="{{logout}}"></paper-icon-button>
        </template>
      </div>


      <template if="{{!user.id}}">
        <div id="login" vertical layout>
          <paper-input label="Vorname" value="{{user.first_name}}" autofocus floatingLabel></paper-input>
          <paper-input label="Nachname" value="{{user.last_name}}" floatingLabel>
          <core-a11y-keys keys="Enter" on-keys-pressed="{{register}}"></core-a11y-keys>
          </paper-input>
          <div>
            <template if="{{credentialsValid(user.first_name, user.last_name)}}">
              <paper-button class="tintText" on-click="{{register}}">Anmelden</paper-button>
            </template>
          <div>
        </div>
      </template>

      <template if="{{user.id}}">
        <template if="{{instructions.length == 0}}">
          <div id="emptyList">Gleich gibt's mehr Karten</div>
        </template>
        <template repeat="{{instruction, index in instructions}}">
          <div class="item {{ {map: !!instruction.location} | tokenList }}">
            <paper-shadow>
              <paper-icon-button icon="close" class="close" on-click="{{dismissCard}}"></paper-icon-button>

              <template if="{{instruction.subject}}">
                <h1>{{instruction.subject}}</h1>
                {{instruction.content}}
              </template>

              <template if="{{instruction.location}}">
                <leaflet-map longitude="{{instruction.location.longitude}}"
                              latitude="{{instruction.location.latitude}}"
                                  zoom="14"
                           zoomControl="false">

                  <!-- Target location -->
                  <leaflet-marker longitude="{{instruction.location.longitude}}"
                                   latitude="{{instruction.location.latitude}}"
                                       icon="{{leafletIconBindings.t[index]}}">
                  </leaflet-marker>
                  <leaflet-marker-icon icon="flag"
                                leafletIcon="{{leafletIconBindings.t[index]}}"
                  </leaflet-marker-icon>
                </leaflet-map>
              </template>
            </paper-shadow>
          </div>
        </template>
      </template>

    </core-header-panel>

  </template>
  <script>
  Polymer({
    leafletIconBindings: {v: [], t: []},
    requestingLocation: false,
    ready: function() {
      this.selectedTab = 0;
      CoreStyle.g.paperInput.focusedColor = '#4d9eff';
    },
    register: function() {
      this.$.service.register();
      this.instructions.push({
        subject: "Herzlich Willkommen",
        content: "Schön dass du bei dieser Präsentation mit machst. Schließe Karten einfach mit dem x oben rechts."
      });
      this.addCardTask = setTimeout(function() {
        this.instructions.unshift({
          subject: "Wo bist du?",
          content: "Gib doch bitte deinen Standort frei. Einfach oben rechts auf das Icon drücken. DATENSCHUTZ wird bei mir übrigens groß geschrieben, versprochen!"
        });
        this.addCardTask = null;
      }.bind(this), 4000);
    },
    logout: function() {
      this.$.service.logout();
      this.instructions = [];
      if (this.addCardTask) {
        clearTimeout(this.addCardTask);
      }
    },
    dismissCard: function(event) {
      var item = event.target.parentElement;
      var index = event.target.templateInstance.model.index;
      item.classList.add('deleted');
      this.async(function() {
        this.instructions.splice(index, 1);
      }, this, 300);
    },
    locate: function() {
      if ("geolocation" in navigator) {
        this.requestingLocation = true;
        navigator.geolocation.getCurrentPosition(function(position) {
            this.instructions.unshift({
            subject: "Gefunden",
            content: "Habe deinen Standort gefunden - schau mal nach vorne auf den Beamer!"
          });
          this.requestingLocation = false;
          this.user.location = position.coords;
          this.$.service.updateUser();
        }.bind(this));
      } else {
        this.instructions.unshift({
          subject: "Kann dich nicht finden",
          content: "Mit deinem Browser kann dein Standort leider nicht abgerufen werden. Ich denke mir einen aus."
        });
        this.user.location = {
          latitude: 50.097777 + this.getRandomLocationOffset(),
          longitude: 8.216612 + this.getRandomLocationOffset()
        };
        this.$.service.updateUser();
      }
    },
    getRandomLocationOffset: function() {
      return Math.random() * 0.006 - 0.003;
    },
    credentialsValid: function(first_name, last_name) {
      return first_name && first_name.trim().length > 0 && last_name && last_name.trim().length > 0;
    }
  });
  </script>
</polymer-element>
