<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="geo-search" attributes="results address limit countrycode delay">
  <script type="text/javascript"
           src="../../bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.js">
  </script>
  <script type="text/javascript" src="../assign.polyfill.js"></script>
  <script type="text/javascript" src="NominatimGeoServer.js"></script>
  <script>
  Polymer({
    limit: 10,
    countrycode: "de",
    ready: function() {
      this.server = new NominatimGeoServer(false);
    },
    observe: {
      address: 'dataChanged',
      countrycode: 'dataChanged'
    },
    dataChanged: function() {
      var params = {
        q: this.address,
        countrycodes: this.countrycode
      };
      this.server.sendRequest(params, function(results) {
        var convertedResults = []
        results.forEach(function(result){
          convertedResults.push({
            name : result.display_name,
            latitude: result.lat,
            longitude: result.lon,
          });
        });
        console.log(convertedResults);
        this.results = convertedResults;
      }.bind(this));
    },
    delayChanged: function() {
      this.server.setDelay(this.delay);
    }
  });
  </script>
</polymer-element>
