<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="geo-search" attributes="results address limit countrycodes delay">
  <script type="text/javascript"
           src="../../bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.js">
  </script>
  <script type="text/javascript" src="../assign.polyfill.js"></script>
  <script type="text/javascript" src="NominatimGeoServer.js"></script>
  <script>
  Polymer({
    limit: 10,
    countrycodes: "de",
    ready: function() {
      this.server = new NominatimGeoServer(false);
    },
    observe: {
      address: 'dataChanged',
      countrycodes: 'dataChanged'
    },
    dataChanged: function() {
      var params = {
        q: this.address,
        countrycodes: this.countrycodes,
        limit: this.limit
      };
      this.server.sendRequest(params, function(results) {
        this.results = results;
      }.bind(this));
    },
    delayChanged: function() {
      this.server.setDelay(this.delay);
    }
  });
  </script>
</polymer-element>
