<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="reverse-geo-search" attributes="latitude longitude result delay">
  <script type="text/javascript"
           src="../../bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.js">
  </script>
  <script type="text/javascript" src="../assign.polyfill.js"></script>
  <script type="text/javascript" src="NominatimGeoServer.js"></script>
  <script>
  Polymer({
    ready: function() {
      this.server = new NominatimGeoServer(true);
    },
    observe: {
      latitude: 'locationChanged',
      longitude: 'locationChanged'
    },
    locationChanged: function() {
      var params = {
        lat: this.latitude,
        lon: this.longitude,
      };
      this.server.sendRequest(params, function(result) {
        this.result = {
          name: result.display_name,
          latitude: result.lat,
          longitude: result.lon,
        };
      }.bind(this));
    },
    delayChanged: function() {
      this.server.setDelay(this.delay);
    }
  });
  </script>
</polymer-element>
