<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="reverse-geo-search" attributes="latitude longitude result delay">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script type="text/javascript" src="../../bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js"></script>
  <script>
  Polymer({
    root_url: "http://nominatim.openstreetmap.org/reverse",
    email: "simon.seyer@zuks.org",
    format: "json",
    delay: 1000,
    throtteledUpdate: null,
    ready: function() {
      this.delayChanged();
    },
    delayChanged: function() {
      this.throtteledUpdate = $.throttle(this.delay, this.updateResults);
    },
    observe: {
      latitude: 'locationChanged',
      longitude: 'locationChanged'
    },
    locationChanged: function() {
      this.throtteledUpdate();
    },
    updateResults: function() {
      if (!this.latitude || !this.longitude) {
        return;
      }

      var self = this;
      $.get(
        this.root_url, 
        {
          format: 'json',
          lat: this.latitude,
          lon: this.longitude,
          email: this.email
        }, 
        function(data) {
          self.result = data;
        }, 'json');
    }
  });
  </script>
</polymer-element>